<div class="container mt-5">
  <div class="row">
    <!-- Country Info Section -->
    <div class="col-md-6">
      <button mat-mini-fab [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </button>
      @if (countryInfo()) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ countryInfo()?.commonName }}</mat-card-title>
            <mat-card-subtitle>{{ countryInfo()?.officialName }} ({{ countryInfo()?.countryCode }})</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p><strong>Region:</strong> {{ countryInfo()?.region }}</p>
            @if (countryInfo()?.borders?.length) {
              <div>
                <p><strong>Borders:</strong></p>
                <ul>
                  @for (border of countryInfo()?.borders; track border) {
                    <li>
                      {{ border.commonName }} ({{ border.officialName }}) - Code:
                      {{ border.countryCode }}
                    </li>
                  }
                </ul>
              </div>
            }
            @if (countryInfo()?.borders?.length === 0) {
              <div>
                <p>No bordering countries.</p>
              </div>
            }
          </mat-card-content>
        </mat-card>
      }
    </div>

    <!-- Holidays Section -->
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Holidays in {{ currentYear() }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Year Pagination -->

          <div class="year-selection mt-3">
            <mat-form-field appearance="outline">
              <mat-label>Select Year</mat-label>
              <mat-select [value]="currentYear()" (selectionChange)="onYearChange($event.value)">
                @for (year of yearsRange; track year) {
                  <mat-option [value]="year">
                    {{ year }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Holiday List with Fixed Height and Scroll -->
          @if (holidays() && holidays()?.length) {
            <div class="holiday-list">
              <mat-list>
                @for (holiday of holidays(); track holiday) {
                  <mat-list-item>
                    <div>
                      <p>
                        <strong>{{ holiday.localName }} ({{ holiday.name }})</strong>
                      </p>
                      <p><strong>Date:</strong> {{ holiday.date | date }}</p>
                      <p><strong>Type:</strong> {{ holiday.types.join(', ') }}</p>
                    </div>
                  </mat-list-item>
                }
              </mat-list>
            </div>
          } @else {
            <p>No holidays found for this year.</p>
          }

          @if (!holidays()) {
            <p>Loading holidays...</p>
          }
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
