<div class="container mt-5">
  <div class="row">
    <!-- Country Info Section -->
    <div class="col-md-6">
      <mat-card *ngIf="countryInfo()">
        <mat-card-header>
          <mat-card-title>{{ countryInfo()?.commonName }}</mat-card-title>
          <mat-card-subtitle>{{ countryInfo()?.officialName }} ({{ countryInfo()?.countryCode }})</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Region:</strong> {{ countryInfo()?.region }}</p>

          <div *ngIf="countryInfo()?.borders?.length">
            <p><strong>Borders:</strong></p>
            <ul>
              <li *ngFor="let border of countryInfo()?.borders">
                {{ border.commonName }} ({{ border.officialName }}) - Code:
                {{ border.countryCode }}
              </li>
            </ul>
          </div>

          <div *ngIf="countryInfo()?.borders?.length === 0">
            <p>No bordering countries.</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Holidays Section -->
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Holidays in {{ currentYear() }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Year Pagination -->

          <div class="year-selection mt-3">
            <mat-form-field appearance="outline">
              <mat-label>Select Year</mat-label>
              <mat-select [value]="currentYear()" (selectionChange)="onYearChange($event.value)">
                <mat-option *ngFor="let year of yearsRange" [value]="year">
                  {{ year }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Holiday List with Fixed Height and Scroll -->
          <div class="holiday-list" *ngIf="holidays() && holidays()?.length; else noHolidays">
            <mat-list>
              <mat-list-item *ngFor="let holiday of holidays()">
                <div>
                  <p>
                    <strong>{{ holiday.localName }} ({{ holiday.name }})</strong>
                  </p>
                  <p><strong>Date:</strong> {{ holiday.date | date }}</p>
                  <p><strong>Type:</strong> {{ holiday.types.join(', ') }}</p>
                </div>
              </mat-list-item>
            </mat-list>
          </div>

          <ng-template #noHolidays>
            <p>No holidays found for this year.</p>
          </ng-template>

          <p *ngIf="!holidays()">Loading holidays...</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
